@model VonderkWEB.Models.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<section class="top-space">
    <div class="content">
        <div class="volver"><a href="javascript:window.history.back();">< Volver </a></div>
        <div class="categoria-min"><a href="#"> @Html.DisplayFor(model => Model.Product.Category.Name) </a></div>

        <h1> @Model.Product.Name </h1>
    </div>
    <div class="producto-fotos">

        <div id="owl-demo-product" class="owl-carousel owl-theme">


            @foreach (var item in Model.OrderedImages)
            {

                <div class="item"><img src="@item.FileName" style="height:560px" alt="1"></div>

            }

        </div>

    </div>
    <div class="content">
        <div class="descripcion info" data-easy-reveal="fade-in-up">
            <p>
                @Html.DisplayFor(model => Model.Product.Description)<br />
                <strong>CÓDIGO:</strong> @Html.DisplayFor(model => Model.Product.ProductCode)
            </p>
        </div>
        <div class="caracteristicas info" data-easy-reveal="fade-in-up">
            <h2>Características</h2>
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Product.Features))
        </div>
    </div>
</section>
<section class="bk-grey" data-easy-reveal="fade-in-up">
    <div class="content">
        <div class="docs info">

            @foreach (var item in Model.OrderedFichas)
            {

                <div class="item col-docs"><h2>ficha técnica</h2><a href="@item.FileName"><img src="~/Images/Icons/ico-ficha.png" alt="Ficha" />@item.Name</a></div>

            }


            @foreach (var item in Model.OrderedIES)
            {

                <div class="item col-docs"><h2>IES</h2><a href="@item.FileName"><img src="~/Images/Icons/ico-ies.png" alt="IES" />@item.Name</a></div>

            }

        </div>

    </div>
</section>
<section class="related-products" data-easy-reveal="fade-in-up">
    <div class="content">
        <h1 data-easy-reveal="fade-in-up">Productos</h1>

        <div class="product-list" data-easy-reveal="fade-in-up">

            <ul>

                @foreach (var item in Model.RelatedProducts)
                {

                    var p = item.ProductAssets.Where(x => x.AssetType == "IMG").OrderBy(d => d.SortOrder).FirstOrDefault();
                    if (p != null)
                    {
                       
                            <li class="@Html.DisplayFor(modelItem => item.Category.Name)">
                                <a href="@Url.Action("Details", "Products", new {id= item.ProductID})">
                                    <img src="@(p.FileName)" width="100" height="100" />
                                    <span>@Html.DisplayFor(modelItem => item.Name)</span>
                                </a>
                            </li>
                      
                    }



                }

            </ul>

        </div>

    </div>
</section>

<script type="text/javascript">



    $(document).ready(function () {



        $("#owl-demo-product").owlCarousel({

            dots: false,
            loop: true,
            autoplay: true,
            autoWidth: false,
            //items: 2,
            //margin: 10,

            //autoHeight:true,

            margin: 10,
            nav: false,
            responsive: {
                0: {
                    items: 1
                },
                720: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }

        });


    });




</script>

@*<script type="text/javascript">
        $(document).ready(function () {
            $("#owl-demo-product").owlCarousel({
                dots: false,
                loop: true,
                //slideSpeed : 200,
                //paginationSpeed : 900,
                autoplay: true,
                autoplayTimeout: 5000,
                //autoplayHoverPause:true,
                autoWidth: true,
                items: 3,
                margin: 10,
            });
        });
    </script>*@

