@using VonderkWEB.Models
@model HomeViewModel
@{
    ViewBag.Title = "Vonderk - Inicio";
}


<style>

    .filterDiv {
        float: left;
        line-height: 100px;
        text-align: center;
        display: none;
    }

    .show {
        display: block;
    }

    .container {
        overflow: hidden;
    }


    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }
</style>

<div id="owl-demo" class="owl-carousel owl-theme">
    @foreach (var item in Model.Slides)
    {
        <div class="item"><img src="~/Images/Slides/@item.FileName" alt="1"></div>

    }
</div>
<div class="ban-social">
    <div class="col-1-2 ban-fb"><a href="https://www.facebook.com/vonderk/" target="_blank"><img src="~/Images/Icons/ico-fb-wt.png" alt="Facebook" /></a></div>
    <div class="col-1-2 ban-ig"><a href="https://www.instagram.com/grupovonderk/" target="_blank"><img src="~/Images/Icons/ico-ig-wt.png" alt="Instagram" /></a></div>
</div>

<section id="productos">
    <div class="content">
        <h1 data-easy-reveal="fade-in-up">Productos</h1>

        <div class="categorias" id="myBtnContainer" data-easy-reveal="fade-in-up">
            <ul>
                <li class="active" onclick="filterSelection('all')">Todos</li>
                @foreach (var item in Model.Categories.OrderBy(x => x.SortOrder))
                {
                    <li onclick="filterSelection('@Html.DisplayFor(modelItem => item.Name)')">@Html.DisplayFor(modelItem => item.Name)</li>

                }
            </ul>

        </div>

        <div class="product-list" data-easy-reveal="fade-in-up">
            <ul>
                @foreach (var item in Model.Products.OrderBy(x => x.SortOrder))
                {
                    String destacado;
                    if (item.IsOutstanding)
                    {
                        destacado = "destacado";
                    }
                    else { destacado = ""; };

                    var p = item.ProductAssets.Where(x => x.AssetType == "IMG").OrderBy(d => d.SortOrder).FirstOrDefault();
                    if (p != null)
                    {
                        <li class="filterDiv @Html.DisplayFor(modelItem => item.Category.Name) @(destacado)">
                            <a href="@Url.Action("Details", "Products", new {id= item.Name})">
                                <img src="@(p.FileName)" width="200" height="200" /><span>@Html.DisplayFor(modelItem => item.Name)</span>
                            </a>
                            <div class="categoria-min" onclick="filterSelection('@Html.DisplayFor(modelItem => item.Category.Name)')"><a>@item.Category.Name</a></div>
                        </li>


                    }


                }
            </ul>
        </div>
    </div>
    <div class="clear-high"></div>
</section>
<section id="inspiracion" data-easy-reveal="fade-in-up">
    <div class="content">
        <h1>Inspiración.</h1>
        <div class="inspiracion">
            <div class="foto foto1"><img src="images/inspiracion/i1.jpg" /></div>
            <div class="foto foto2"><img src="images/inspiracion/i2.jpg" /></div>
            <div class="foto foto3"><img src="images/inspiracion/i3.jpg" /></div>
            <div class="foto foto4"><img src="images/inspiracion/i4.jpg" /></div>
        </div>
    </div>
</section>
<div class="clear-high"></div>
<script type="text/javascript">

    filterSelection("all")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current control button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }

</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#owl-demo").owlCarousel({

            navigation: true, // Show next and prev buttons
            loop: true,
            //slideSpeed : 200,
            //paginationSpeed : 900,
            autoplay: true,
            autoplayTimeout: 5000,
            //autoplayHoverPause:true,
            animateOut: 'fadeOut',
            items: 1,
            stagePadding: 0,
            margin: 0,
            dots: false,
            singleItem: true,


        });




    });




</script>