@model VonderkWEB.Models.Work

@{
    ViewBag.Title = Model.Name;
}

<div class="content">

    <section class="top-space">
        <div class="content">
            <div class="volver"><a href="javascript:window.history.back();">< Volver </a></div>
            <h1> @Html.DisplayFor(model => model.Name)  </h1>
        </div>
        <div class="producto-fotos">
            <div id="owl-demo-product" class="owl-carousel owl-theme">


                @foreach (var item in Model.WorkAssets)
                {

                    <div class="item"><img src="~/Images/Works/@Model.WorkID/@item.FileName" style="height:560px" alt="1"></div>

                }

            </div>
        </div>
        <div class="content">
            <div class="caracteristicas info" data-easy-reveal="fade-in-up">
                <h2>Descripción</h2>
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))
            </div>
        </div>
    </section>

    <section class="related-products" data-easy-reveal="fade-in-up">
        <div class="content">
            <h1 data-easy-reveal="fade-in-up">Otras novedades</h1>

            <div class="product-list" data-easy-reveal="fade-in-up">

                <ul>
                  
                    @*@foreach (var item in Model)
                    {

                        <li class="@Html.DisplayFor(modelItem => item.Nombre)"><a href="@Url.Action("Details", "Trabajos", new {id= item.ID})"><img src="~/Images/Trabajos/@item.NombreCorregido/@first" width="100" height="100" /><span>@Html.DisplayFor(modelItem => item.Nombre)</span></a></li>

                    }*@

                </ul>

            </div>

        </div>

    </section>



</div>



<script type="text/javascript">



    $(document).ready(function () {



        $("#owl-demo-product").owlCarousel({

            dots: false,
            loop: true,
            //slideSpeed : 200,
            //paginationSpeed : 900,
            autoplay: true,
            autoplayTimeout: 5000,
            //autoplayHoverPause:true,
            autoWidth: true,
            items: 3,
            margin: 10,

        });


    });




</script>


